@charset "UTF-8";

/* 로그인/회원가입 버튼 스타일 */
#login {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#join {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#btn_group1 button {
	border: 1px solid #FF7F50;
	background-color: rgba(255, 165, 0, 0.5); /* 주황색 */
	color:#000000;
	padding: 5px;
	transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#btn_group1 button:hover {
	color: white;
	background-color: #FF7F50;
}

#btn_group1 {
	position: absolute;
	top: 20px;
	right: 85px;
}

#btn_group2 button {
	border: 1px solid #FF7F50;
	background-color: rgba(255, 165, 0, 0.5); /* 주황색 */
	color: #000000;
	padding: 5px;
	transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#btn_group2 button:hover {
	color: white;
	background-color: #FF7F50;
}

#btn_group2 {
	position: absolute;
	top: 20px;
	right: 15px;
}

h1 {
text-align: center; /* h2 태그의 텍스트를 가운데 정렬 */
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 18px;
}

/* CSS 스타일 코드 */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.button-css{
	background-color: #FFA500;
	border: 0.8px solid #FFA500;
	border-radius: 4px;
	padding: 5px;
	cursor: pointer;
	font-size: 16px;
	color: white;
}


.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px #ddd;
  	margin: 50px auto 0;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	font-weight: normal;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

td:first-child {
	border-top-left-radius: 10px;
}

td:last-child {
	border-top-right-radius: 10px;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.my_div { /*글 목록 리스트 디자인*/
	border: 1px solid #d1d1d1;
	margin-bottom: 15px;
	border-radius: 30px;
}

.my_ul { /*리스트 페이지 디자인*/
	list-style-type: circle;
}

.th-buttons {
  text-align: right; /* 테이블 셀 안에서 오른쪽 정렬을 위해 추가한 스타일 */
}

.writerButton {
  border: 1px solid #FF7F50;
 background-color: rgba(255, 165, 0, 0.5); /* 주황색 */
	color: #000000;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px; /* 버튼 사이의 간격을 조절할 수 있습니다. */
}

.basicButton {
  border: 1px solid #FF7F50;
 background-color: rgba(255, 165, 0, 0.5); /* 주황색 */
	color: #000000;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px; /* 버튼 사이의 간격을 조절할 수 있습니다. */
}

.backButton {
	position: absolute;
	top: 7%; /* 버튼이 위치할 수 있는 적절한 값으로 조정하세요. */
	left: 32%; /* 버튼이 위치할 수 있는 적절한 값으로 조정하세요. */
	border: 0.8px solid #FFA500;
	border-radius: 4px;
	background-color: rgba(255, 165, 0, 0.5); /* 주황색 */
	color: white;
	padding: 8px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease-in-out;

}

.writeButton {
	position: absolute;
	top: 7%; /* 버튼이 위치할 수 있는 적절한 값으로 조정하세요. */
	left: 27%; /* 버튼이 위치할 수 있는 적절한 값으로 조정하세요. */
	border: 0.8px solid #FFA500;
	border-radius: 4px;
	background-color: rgba(255, 165, 0, 0.5); /* 주황색 */
	color: white;
	padding: 8px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

.indexButton {
	position: absolute;
	top: 7%; /* 버튼이 위치할 수 있는 적절한 값으로 조정하세요. */
	left: 23%; /* 버튼이 위치할 수 있는 적절한 값으로 조정하세요. */
	border: 0.8px solid #FFA500;
	border-radius: 4px;
	background-color: rgba(255, 165, 0, 0.5); /* 주황색 */
	color: white;
	padding: 8px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

div.paging {
    text-align: center;
    margin: 20px auto;
}
.writerButton:hover {
	color: white;
	background-color: #FF7F50;
}
.basicButton:hover {
	color: white;
	background-color: #FF7F50;
}
.backButton:hover {
	color: white;
	background-color: #FF7F50;
}
.writeButton:hover {
	color: white;
	background-color: #FF7F50;
}
.indexButton:hover {
	color: white;
	background-color: #FF7F50;
}