@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap')
	;
	
/* 로그인/회원가입 버튼 스타일 */
#login {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#join {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#btn_group1 button {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 5px;
  transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#btn_group1 button:hover {
  color: white;
  background-color: skyblue;
}

#btn_group1 {
  position: absolute;
  top: 20px;
  right: 85px;
}
#btn_group2 button {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 5px;
  transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#btn_group2 button:hover {
  color: white;
  background-color: skyblue;
}

#btn_group2 {
  position: absolute;
  top: 20px;
  right: 15px;
}
/* 전체글 */
#indexButton {
  text-align: center;
  position: fixed;
  top: 30%;
  right: 70%;
}

#indexButton button {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#indexButton button:hover {
  color: white;
  background-color: skyblue;
}

#indexButton button { /* 모서리를 둥글게만듬 */
  border-radius: 15px;
}
/* 명소 */
#attractionButton {
  text-align: center;
  position: fixed;
  top: 30%;
  right: 65%;
}

#attractionButton button {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#attractionButton button:hover {
  color: white;
  background-color: skyblue;
}

#attractionButton button { /* 모서리를 둥글게만듬 */
  border-radius: 15px;
}
/* 축제 */
#festivalButton {
  text-align: center;
  position: fixed;
  top: 30%;
  right: 60%;
}

#festivalButton button {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#festivalButton button:hover {
  color: white;
  background-color: skyblue;
}

#festivalButton button { /* 모서리를 둥글게만듬 */
  border-radius: 15px;
}
/* 맛집 */
#foodButton {
  text-align: center;
  position: fixed;
  top: 30%;
  right: 55%;
}

#foodButton button {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#foodButton button:hover {
  color: white;
  background-color: skyblue;
}

#foodButton button { /* 모서리를 둥글게만듬 */
  border-radius: 15px;
}

/* 방명록 버튼 스타일 */
#guestButton {
  text-align: center;
  position: fixed;
  top: 30%;
  right: 49%;
}

#guestButton button {
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out; /* 애니메이션 속도 조절 */
}

#guestButton button:hover {
  color: white;
  background-color: skyblue;
}

#guestButton button { /* 모서리를 둥글게만듬 */
  border-radius: 15px;
}
/* 관광지 목록 스타일 */

#attractions {
  display: flex;
  flex-wrap: wrap;
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* 화면 아래쪽이므로 백그라운드 색상 추가 */
}

#attractions > div {
  width: calc(20% - 20px); /* 오른쪽과 왼쪽에 10px의 패딩을 더해줌 */
  margin: 10px;
  padding: 10px;
  height: 250px;
  cursor: pointer;
  box-sizing: border-box; /* 패딩값을 포함해서 계산하도록 설정 */
}

#attractions > div:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 호버시 그림자 추가 */
}

#attractions > div > div:first-child {
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#attractions > div > div:nth-child(2) {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#attractions > div > div:nth-child(2) > img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* 이미지 비율 유지 */
}

#attractions > div > div:nth-child(3) {
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#attractions > div > div:nth-child(4) {
  height: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#attractions > div > div:last-child {
  height: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.box {
    width: 20%;
    height: 300px;
    padding: 20px;
}
