<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messages">
	<insert id="createMessage" parameterType="hashmap">
		insert into
		guest_book(board_id, board_pass, content, writer, writed)
		values(BOARD_ID_SEQ.NEXTVAL, #{boardPass}, #{content}, #{writer}, SYSDATE)
	</insert>
	<insert id="createAnonymous" parameterType="hashmap">
		insert into
		guest_book(board_id, board_pass, content, writer, writed)
		values(BOARD_ID_SEQ.NEXTVAL, #{boardPass}, #{content}, #{writer},
		SYSDATE)
	</insert>
	
	<delete id="deleteBoard">
		delete from guest_book where board_id = #{boardId}
	</delete>
	<update id="updateBoard" parameterType="hashmap">
	    update guest_book set content = #{content} where board_id = #{boardId}
	</update>
	
	<select id="findAll" parameterType="hashmap" resultType="data.guestBook.guestBook">
		select * from guest_book ORDER BY writed
    </select>
    <select id="findAllDesc" parameterType="hashmap" resultType="data.guestBook.guestBook">
		select * from guest_book order by writed desc
	</select>
	<select id="findByBoardId" parameterType="Integer" resultType="data.guestBook.guestBook">
		select * from guest_book where board_id = #{boardId}
	</select>
	
</mapper> 
 