<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="messages">
 <insert id="create" parameterType="hashmap">
 	INSERT INTO GUEST_BOOK VALUES(BOARD_ID_SEQ,#{boardPass},#{content},#{writer},SYSDATE)
 </insert>
 <delete id="deleteGuestBook">
 	DELETE FROM GUEST_BOOK WHERE BOARD_ID = #{boardId}
 </delete>
 </mapper> 
 